.products--section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.sectionHeading {
    font-family: var(--font-Bangers);
    margin: 0 auto;
    display: block;
    font-size: clamp(3rem, 3.5vw, 3.5rem);
    background: linear-gradient(to left, #fd5e73 30%, #f5a016);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.product--wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 1.5rem;
    padding: 2rem 0;
    margin: 3rem 0;
    text-align: center;
}


.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 15px 2px #00000050;
    border-radius: 5px;
    padding: 0 0 10px;
    background: radial-gradient(circle, #f8dde6, #d8e1f2);
    gap: .9rem;
    width: 100%;
    font-family: var(--font-Poppins);
    border-left: 4px solid #7f8dfd;
    transition: all 0.3s linear;
}

.product img {
    margin: 0 0;
    width: 100%;
    height: 180px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 5px #00000023);
    transition: all 0.4s ease-in-out;
}

.productName {
    font-family: var(--font-Roboto);
    margin-left: 15px;
    font-size: clamp(1.1rem, 1.7vw, 1.5rem);
}

.product>span {
    margin-left: 15px;
    font-weight: 500;
}

.productBtn {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.price {
    font-weight: 700;
    font-size: 1.2rem;
}

.quantityInfo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dcdbdb;
    box-shadow: inset 0px 0px 10px #00000041;
}

.quantityInfo button {
    padding: 5px 10px;
    background: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.quantityInfo button:nth-child(1) {
    border-right: 1px dashed #827e7e;
}

.quantityInfo button:nth-child(3) {
    border-left: 1px dashed #827e7e;
}

.addCartBtn {
    width: 90%;
    margin: 10px auto 15px;
    border-radius: 5px;
    padding: 10px !important;
    font-weight: 600;
    background: #c1f85b;
}


@media (hover:hover) {
    .addCartBtn:hover {
        background: #faee46;
    }
}


@media (width >=600px) {
    .product--wrapper {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }

    .productBtn {
        justify-content: start;
    }
}



@media (width >=900px) {
    .product--wrapper {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }

    .product--img {
        transition: all 0.3s linear;
    }

    /* .product:hover .product--img {
        position: relative;
        transform: perspective(2000px) translateY(-100px) rotateX(-40deg) translateZ(50px) scale(1.2);
    } */


}


@media (width >=1200px) {
    .product--wrapper {
        width: 90%;
        margin: 3rem auto;
        gap: 3.5rem;
        position: relative;
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }

}

@media (hover:hover) {
    .product:hover {
        transform: perspective(900px) translateY(0px) rotateX(-25deg) translateZ(0) scale(0.95);
    }

    .product--img {
        position: relative;
        background: rgba(255, 255, 255, 0);
        width: 50% !important;
        margin: 0 auto;
        align-self: center;
    }

    .product:hover .product--img {
        transform: scale(1.5) rotateX(20deg);
        background: rgba(255, 255, 255, 0.614);
        filter: drop-shadow(0px 0px 20px #00000082);
        margin-bottom: 1rem;
        /* background: red; */
    }
}