@import './Home.css';
@import './Products.css';
@import './Cart.css';
@import './Login.css';
@import './Checkout.css';

header,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-Poppins);
}

nav a,
nav button {
    cursor: default;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

nav a:active {
    color: blue;
}


.headerPc {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 12px 5px 5px;
    top: 0;
    z-index: 444;
    background: #fff;
    box-shadow: 1px 1px 15px 3px #171718bd;
}

.glued {
    position: fixed;
    top: 0;
    background: #ffffffb6;
    backdrop-filter: blur(15px);
    left: 0;
    width: 100%;
}


/* Nav Bar Mobile Styling */

.navbarMobile {
    position: fixed;
    transform: translateX(-50%);
    bottom: 5px;
    left: 50%;
    width: 95%;
    background: linear-gradient(90deg, #f8a3b0, #f9b9f3, #f9b07c);
    padding: 7px 10px;
    z-index: 444;
    margin: 0 auto;
    font-size: 1.5rem;
}

.navbarMobile a {
    color: #000;
}


.dropdownLinks {
    position: absolute;
    bottom: 0px;
    box-shadow: 1px 1px 20px 3px #00000038;
    right: 0px;
    list-style: none;
    font-size: .9rem;
    background: #fff;
    padding: 5px 1rem;
    transform: translate(400px, -60px);
    opacity: 0;
    border-radius: 5px;
    transition: 0.3s ease;
}

.dropdownLinks li {
    margin: 12px 0;
}

.dropdownLinks.show {
    opacity: 1;
    transform: translate(5px, -60px);
}

.dropdownLinks a {
    font-weight: 500;
}



/* Navbar Pc Styling */


.logo--img {
    width: 150px;
    height: 40px;
    transition: 0.3s linear;
    object-fit: cover;
}

.links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.links>li>a {
    text-decoration: none;
    color: #000;
    font-size: clamp(.8rem, 1.5vw, 1rem);
}


/* Additional Infos like username cart Quantity */

.additional--btns {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 1rem;
}

.additional--btns .cartBtn {
    padding: 0;
    color: rgb(16, 16, 16);
    position: relative;
    font-size: 2rem;
    /* background: red; */
    transform: translateY(5px);
}

.cartQuantity {
    position: absolute;
    top: -1px;
    right: -5px;
    color: #fff;
    background: linear-gradient(to top, #fe6e61, #d849ff);
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: 700;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.3s linear, opacity 0.3s ease-out 0.1s;
}


.show {
    transform: translateY(0px);
    opacity: 1;
}

.username {
    color: #ff7151;
    font-weight: 700;
    white-space: nowrap;
    font-size: .85rem;
}


.loginBtn {
    border-radius: 3px;
    background: linear-gradient(to left, #ea7185, rgb(255, 124, 174));
    color: #000000;
    text-decoration: none;
    padding: 2px 1rem;
    font-size: 1rem;
}


.logoutBtn {
    border-radius: 3px;
    background: linear-gradient(to left, #353535, rgb(80, 79, 79));
    color: #fff;
    text-decoration: none;
}



/* Search Container Styling */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 10px;
}

.searchContainer.fullWidth {
    width: 100%;
}

.searchInput {
    padding: 3px 5px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background: none;
    transform: scaleX(0);
    transform-origin: center;
    width: 0;
    opacity: 0;
    transition: transform 0.3s ease-in;
}

.searchInput.searchShow {
    opacity: 1;
    transform: scaleX(1);
    width: 100%;
    flex-basis: 95%;
}

.searchBtn {
    background: transparent;
    font-size: 1.5rem;
    padding: 0;
}

@media only Screen and (max-width: 750px) {
    .additional--btns {
        display: none;
        opacity: 0;
    }


    .navbarPc {
        display: none;
        opacity: 0;
    }
}

@media only Screen and (min-width : 751px) {
    .searchContainer.fullWidth {
        width: 45%;
    }

}


@media (hover: hover) {

    li>a:hover,
    a:hover {
        color: #a68aa5;
    }


    .loginBtn:hover {
        filter: brightness(130%) contrast(120%);
        color: #000;
    }


    a:hover,
    button:hover {
        cursor: pointer;
    }


    .additional--btns>button:hover {
        filter: brightness(130%) contrast(120%);
    }
}