/* @import './Styles/style.css'; */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}


:root {
  --font-Roboto: 'Oswald', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --font-Bangers: "Bangers", sans-serif;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to left #fefefe, #dfdde0);
}


button,
button:active,
a:active,
a {
  -webkit-tap-highlight-color: transparent;
}